#app{padding:10px;position: relative;font-size: 14px;color: #333;overflow: hidden;}
.clearfix:after{ display:block; content:""; visibility:hidden; height:0; clear:both}
.red{color: red;}
.clear{clear: both;}
#app i{cursor: pointer;}
.el-table th>.cell{text-align: center;padding:0;}
.el-table td>.cell{text-align: center;padding:0;}
.el-tabs--card i{margin-left: 5px;color: green;}
.tc_title{font-size: 16px;padding:10px 0 20px 0;color: red;}
.tc_right_btn{position: absolute;right: 20px;top: 20px;}
.tc_right_btn .ivu-tooltip{margin: 0 15px;font-size: 20px;vertical-align: middle;}
.tc_right_btn strong,.tc_right_btn label,.tc_right_btn a{display: inline-block;vertical-align: middle;font-size: 12px;}
.tc_right_btn label{margin-right: 20px;}
.tc_right_btn a{color: #333;text-decoration: none;font-size: 20px;}
.tc_setting{margin-left: 20px;border-left:1px solid #bfcbd9;min-height: 200px;}
.tc_setting .num_setting{width:28px;height: 28px;line-height: 24px;border-radius: 50%;text-align: center;display: block;margin-left:-16px;margin-right: 5px;position: absolute;}
.tc_setting .num_setting{border: 2px solid #bfcbd9;color: #bfcbd9;background: #fff;}
.tc_setting .tc_setting_title{height: 30px;line-height: 30px;margin-left: 20px;font-size: 16px;}
.pack_setting .tc_setting_title{float: left;}
.tc_setting_done{border-color: #20a0ff;}
.tc_setting_done .num_setting{border: 2px solid #20a0ff;color: #fff;background: #20a0ff;}
.tc_setting_done .tc_setting_title{color: #20a0ff}

.copy_pack{float: left;height: 30px;line-height: 30px;margin-left: 50px;}
.proportion_pack_tc{padding:15px 0 15px 25px;}
.proportion_pack_tc .el-input{width: auto;}
.proportion_pack_tc .dj_proportion{margin-left: 20px;}

.pack_setting .el-tabs{margin:0 25px;}
.ivu-table table{width:100%;}
.ivu-table table tr th,.ivu-table table tr td{text-align: center;line-height: 22px;padding:0 4px;word-break: break-all;}
.ivu-table i{font-size: 24px;margin-left: 0;vertical-align: middle;}
.ivu-table table tr th i{font-size: 14px;vertical-align: middle;margin-left: 5px;}

.ivu-upload button{border: none;padding:0;}
.table_bottom{padding:15px 0;line-height: 32px;}
.table_bottom button{display: block;float: right;}

.already_chose,.search_country,.channel_chose,.stencil_chose,.country_setting p,.channel_main{margin: 0 21px;padding: 10px 0;}
.already_chose a{display: block;float: right;}
.search_country .el-input{display: inline-block;width: auto;}
.search_country .country_list,.channel_list_main{margin:10px 0;overflow-y: auto;max-height: 150px;}
.search_country .country_list ul li,.channel_chose ul li{padding: 10px 0;border-bottom: 1px dashed #ccc;vertical-align: middle;}
.search_country .country_list ul li span,.channel_chose ul li span{float: left;height: 32px;line-height: 32px;min-width: 80px;}
.search_country .country_list ul li .country_list_main,.channel_chose ul li .channel_list{float: left;}
.search_country .country_list ul li .country_list_main span,.channel_chose ul li .channel_list span{float: none;height: auto;line-height: normal;}
.channel_chose ul li{border: none;}
.stencil_chose ul{padding: 15px 0;}
.stencil_chose ul li{float: left;text-align: center;cursor: pointer;margin: 0 10px;}
.stencil_chose ul li img{width: 80px;height: 80px;display: block;border: 1px solid #ccc;cursor: pointer;border-radius: 4px;}
.stencil_chose ul li label{margin: 5px 0 0 0;}
.stencil_chose b{display: block;}
.country_setting p button{float: right;}
.country_setting b{font-weight: bold;}
.channel_search {padding: 15px 0;}
.channel_search .el-select{margin-right: 20px;}

.more_info{margin: 15px;background: #ccc;}
.more_info i{font-size: 20px;margin: 0 2px;}
.upload-demo button{padding: 0;border: none;}
.channel_setting p{padding: 15px 0;}
.channel_setting i{font-size: 24px;vertical-align: middle;}

.no_view{cursor: no-drop;color: #ccc;}

.search_country .ivu-btn,.channel_chose .ivu-btn{margin-right: 6px;}
.ivu-btn.get{background: #fff;}
.ivu-btn.chose{color: #57a3f3;background-color: #fff;border-color: #57a3f3;}

.ivu-input{width: auto;}

.now_tr td{background: #f8f8f9;}
.ivu-table-body .ivu-input-type{display: inline-block;width: auto;}
.channel_setting .ivu-table-body .ivu-icon-checkmark-round{color: green;font-size: 14px;}
.channel_setting .ivu-table-body .edit_div .ivu-icon-close-round{color: red;font-size: 14px;}
.recommend{color: #f90}

.sort_table{cursor: all-scroll;}
.channel_setting table tr td{padding:0 4px;}
.channel_setting table tr td .ivu-input{width: 100%;}

.my_input{ display: inline-block;width: auto;height: 32px;line-height: 1.5;padding: 4px 7px;font-size: 12px;border: 1px solid #dddee1;border-radius: 4px;color: #495060; background-color: #fff; background-image: none;position: relative;cursor: text; transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;}
.my_input:hover{border-color: #57a3f3;}
.my_input:focus{border-color: #57a3f3; outline: 0; box-shadow: 0 0 0 2px rgba(45,140,240,.2);}
.my_submit{color: #495060;font-size: 24px;vertical-align: middle;background: none;border:none;cursor: pointer;}
.my_submit:focus{border: none;outline: 0;}
.my_btn{color: #fff;background-color: #2d8cf0;border-color: #2d8cf0;display: inline-block;margin-bottom: 0;font-weight: 400;text-align: center;vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;line-height: 1.5; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; padding: 6px 15px;font-size: 12px;border-radius: 4px;transition: color .2s linear,background-color .2s linear,border .2s linear;}
.my_btn:focus{outline: 0;}
.more_info .my_input{width: 100%;}
.ivu-table table tr td .my_input{width: 100%;}

.tijiao_btn{    position: absolute;    right: 0;    bottom: -46px;}
















{}
